html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: #eeeeee;
  font-family: 'Oxygen', sans-serif; }

header {
  background: #5bbbb7;
  text-align: center;
  padding: 5px;
  font-size: 120%;
  text-shadow: 0 1px 0 #aad5d0; }
  header p {
    padding: 0;
    line-height: 1; }

.notice {
  color: #ffffff;
  background-color: #800000;
  text-shadow: 0 -1px 0 #400000;
  padding: 5px;
  text-align: center; }

.sticky {
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  float: left;
  position: absolute;
  line-height: 1;
  margin: 0;
  box-shadow: #666666 0 1px 3px;
  font-weight: bold;
  background-color: #fdc82f;
  -webkit-transition: background-color 0.05s linear;
  -moz-transition: background-color 0.05s linear;
  -ms-transition: background-color 0.05s linear;
  -o-transition: background-color 0.05s linear;
  transition: background-color 0.05s linear; }
  .sticky:hover {
    background-color: #fdd562;
    -webkit-transition: background-color 0.05s linear;
    -moz-transition: background-color 0.05s linear;
    -ms-transition: background-color 0.05s linear;
    -o-transition: background-color 0.05s linear;
    transition: background-color 0.05s linear; }
  .sticky textarea {
    background: transparent; }
  .sticky .delete-button {
    right: -5px;
    top: -5px;
    position: absolute;
    display: none;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    font-weight: bold;
    -webkit-transition: background-color 0.05s linear;
    background-color: black;
    text-shadow: 0 1px 0 #000000; }
    .sticky .delete-button:hover {
      -webkit-transition: background-color 0.05s linear;
      background-color: red; }
  .sticky .done-button {
    right: -5px;
    bottom: -5px;
    position: absolute;
    display: none;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    font-weight: bold;
    -webkit-transition: background-color 0.05s linear;
    background-color: black;
    text-shadow: 0 1px 0 #000000; }
    .sticky .done-button:hover {
      -webkit-transition: background-color 0.05s linear;
      background-color: #00cc00; }
  .sticky.done {
    background-color: #aaaaaa; }
    .sticky.done .done-button {
      background-color: #00cc00; }

.deadline {
  position: absolute;
  top: -25px;
  left: 0px;
  color: black;
  font-size: 120%; }

#field {
  width: 100%;
  height: 100%; }
