body {
  background-color: #eeeeee;
  margin: 20px;
}

.sticky {
  border: #cccccc solid 1px;
  -webkit-border-radius: 5px;
  padding: 10px;
  width: 200px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #ffffff;
}
